<link rel="stylesheet" href="/css/home.css">

<!--THis is hoem page with create project form and project List-->
<div  class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-3">
            <div class="card">
                <div class="card-header">
                   <h5>Create Project</h5>
                </div>

                <div class="card-body">
                   <form method="POST" action="/projects/create-project">
                        <input type="text" name="name_project" class="form-control" placeholder="Enter name" autocomplete="off" required>
                        <textarea name="description_project" rows="3" class="form-control" autocomplete="off" placeholder="Enter Description"></textarea>
                        <input type="text" name="author_project" class="form-control" placeholder="Enter Author" autocomplete="off" required>
                        <button type="submit" class="btn btn-sm btn-info formBtn"><b>Create</b></button>
                   </form>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-12 col-md-6 col-lg-9">
            <div class="card">
                <div class="card-header">
                    <h5>Projects</h5>
                </div>

                <div class="card-body">

                    <div class="table-height">
                        <table class="table table-dark table-striped table-responsive table-scroll" width="100%">
                            <tr>
                                <th width="8%">No.</th>
                                <th width="10%">Date</th>
                                <th width="15%">Name</th>
                                <th width="30%">Description</th>
                                <th width="15%">Author</th>
                                <th width="17%" class="text-center">View</th>
                                <th width="10%" class="text-center">Delete</th>
                            </tr>
    
                            <% var i=1 ;%>
                            <% for(projects of projectList) { %>
                                <tr>
                                    <td><%= i %></td>
                                    <td><%= projects.updatedAt.getDate()+
                                        "/"+ (projects.updatedAt.getMonth()+ 1) + 
                                        "/"+ projects.updatedAt.getFullYear()  %></td>
                                    <td><%= projects.name %></td>
                                    <td>
                                        <%= projects.description; %>
                                        
                                    </td>
                                    <td><%= projects.author %></td>
                                    <td><button type="button" class="btn btn-sm btn-warning text-center "><a href="/projects/project-issue/<%=projects.id%>">View Project</a></button></td>
                                    <td><a href="/projects/delete-project/<%=projects.id%>"><i class="fa-solid fa-trash-can"></i></a></td>
                                </tr>
                            <% i++ ; %>
                            <% } %>
                            
                        </table>

                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>